{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="grin">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>LIS | Germplasm</title>
  
  <link rel="stylesheet" type="text/css"
	href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css"/>
  <link rel="stylesheet" type="text/css"
	href="//cdnjs.cloudflare.com/ajax/libs/hopscotch/0.2.5/css/hopscotch.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css"
	href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <link rel="stylesheet" type="text/css"
	href="{% static 'grin_app/css/styles.css' %}" />

</head>
<body>
  <div ui-view class="container-fluid">
    <h3>
      <a href="http://{{ request.get_host }}"><img
	src="http://legumeinfo.org/sites/all/themes/legumeinfo_theme/images/legumeinfo_logo.png" height="30" alt="LIS" /></a>
      <a href="http://{{ request.get_host }}" style="color: #87a96b;">
	Legume Information System</a>
	| Germplasm Map
    </h3>
    <div ui-view="errors"></div>
    <div ui-view="map"></div>
    <div ui-view="filter"></div>
    <div ui-view="list"></div>
  </div>
  
  <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js">
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js">
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/hopscotch/0.2.5/js/hopscotch.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
  
  <script src="{% static 'bower_components/angular-cookies/angular-cookies.min.js'%}">
  </script>
  <script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js'%}">
  </script>
  <script src="{% static 'bower_components/angular-auto-focus/angular-auto-focus.js'%}" ></script>

  <script language="javascript">
    var STATIC_URL = "{% static ''%}";
  </script>
  <script src="{% static 'grin_app/js/app.js'%}"></script>
  <script src="{% static 'grin_app/js/ng-controllers/errors.js'%}"></script>
  <script src="{% static 'grin_app/js/ng-controllers/filter.js'%}"></script>
  <script src="{% static 'grin_app/js/ng-controllers/list.js'%}"></script>
  <script src="{% static 'grin_app/js/ng-controllers/map.js'%}"></script>
  <script src="{% static 'grin_app/js/ng-services/geoJson.js'%}"></script>

</body>
</html>
