<div class="modal-header">
  <button type="button" class="close"
	  ng-click="onOK()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">
    Accession: {{model.accId}}
    <img ng-if="! model.acc"
	 ng-src="{{model.STATIC_PATH}}grin_app/images/ajax-loader.gif"/>
  </h3>
</div>
<div class="modal-body">
  <button class="btn btn-primary" type="button"
	  ng-if="model.acc"
	  ng-click="onOK()">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    OK
  </button>
  
  <button ng-if="model.acc.geometry.coordinates"
	  class="btn btn-success" type="button" ng-click="onGoMap()">
    <span class="glyphicon glyphicon-map-marker"
	  aria-hidden="true"></span>
    View {{model.acc.properties.accenumb}} on Map
  </button>
  
  <button class="btn btn-default" type="button"
	  ng-if="model.acc"
	  ng-click="onGoLISGRIN()">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>      
    Search GRIN for
    {{model.acc.properties.accenumb}}
  </button>
  
  <button ng-if="model.acc.properties.genus && model.acc.properties.species"
	  ng-disabled="model.hideLISSpeciesLink"
	  ng-click="onGoLISTaxon()"
	  class="btn btn-default"
	  type="button">
    <span class="glyphicon glyphicon-leaf"
	  aria-hidden="true"></span>
    View {{model.acc.properties.genus}}
    {{model.acc.properties.species}} at {{model.BRANDING.site_abbrev}}
  </button>

  <table class="table table-striped section-spc"
	 ng-if="model.acc">
    <caption>Accession Details</caption>
    <tr ng-if="model.acc.properties.taxon">
      <td>taxon</td>
      <td ng-bind-html="model.acc.properties.taxon"></td>
    </tr>
    <tr ng-if="model.acc.properties.subtaxa">
      <td>subtaxa</td>
      <td ng-bind-html="model.acc.properties.subtaxa"></td>
    </tr>
    <tr ng-if="model.acc.properties.genus">
      <td>genus</td>
      <td ng-bind-html="model.acc.properties.genus"></td>
    </tr>
    <tr ng-if="model.acc.properties.species">
      <td>species</td>
      <td ng-bind-html="model.acc.properties.species"></td>
    </tr>
    <tr ng-if="model.acc.properties.cropname">
      <td>cropname</td>
      <td ng-bind-html="model.acc.properties.cropname"></td>
    </tr>
    <tr ng-if="model.acc.properties.acqdate">
      <td>acqdate</td>
      <td>{{model.acc.properties.acqdate}}</td>
    </tr>
    <tr ng-if="model.acc.properties.colldate">
      <td>colldate</td>
      <td>{{model.acc.properties.colldate}}</td>
    </tr>
    <tr ng-if="model.acc.properties.origcty">
      <td>origcty</td>
      <td>{{model.acc.properties.origcty}}</td>
    </tr>
    <tr ng-if="model.acc.properties.collsite">
      <td>collsite</td>
      <td ng-bind-html="model.acc.properties.collsite">
      </td>
    </tr>
    <tr ng-if="model.acc.geometry.coordinates">
      <td>geographic coordinates</td>
      <td>
	latitude: {{model.acc.geometry.coordinates[1]}}
	longitude: {{model.acc.geometry.coordinates[0]}}
      </td>
    </tr>
    <tr ng-if="model.acc.properties.remarks">
      <td>remarks</td>
      <td ng-bind-html="model.acc.properties.remarks"></td>
    </tr>      
    <tr ng-if="model.acc.properties.history">
      <td>history</td>
      <td ng-bind-html="model.acc.properties.history"></td>
    </tr>      
    <tr ng-if="model.acc.properties.elevation">
      <td>elevation (m.)</td>
      <td>{{model.acc.properties.elevation}}</td>
    </tr>
    <tr ng-if="model.acc.properties.collnumb">
      <td>collnumb</td>
      <td>{{model.acc.properties.collnumb}}</td>
    </tr>
    <tr ng-if="model.acc.properties.collcode">
      <td>collcode</td>
      <td>{{model.acc.properties.collcode}}</td>
    </tr>
    <tr ng-if="model.acc.properties.spauthor">
      <td>spauthor</td>
      <td>{{model.acc.properties.spauthor}}</td>
    </tr>
    <tr ng-if="model.acc.properties.subtauthor">
      <td>subtauthor</td>
      <td>{{model.acc.properties.subtauthor}}</td>
    </tr>
    <tr ng-if="model.acc.properties.avail">
      <td>avail</td>
      <td>{{model.acc.properties.avail}}</td>
    </tr>
    <tr ng-if="model.acc.properties.instcode">
      <td>instcode</td>
      <td>{{model.acc.properties.instcode}}</td>
    </tr>
    <tr ng-if="model.acc.properties.bredcode">
      <td>bredcode</td>
      <td>{{model.acc.properties.bredcode}}</td>
    </tr>
    <tr ng-if="model.acc.properties.ancest">
      <td>ancest</td>
      <td>{{model.acc.properties.ancest}}</td>
    </tr>
    <tr ng-if="model.acc.properties.donorcode">
      <td>donorcode</td>
      <td>{{model.acc.properties.donorcode}}</td>
    </tr>
    <tr ng-if="model.acc.properties.donornumb">
      <td>donornumb</td>
      <td>{{model.acc.properties.donornumb}}</td>
    </tr>
    <tr ng-if="model.acc.properties.duplsite">
      <td>duplsite</td>
      <td>{{model.acc.properties.duplsite}}</td>
    </tr>      
    <tr ng-if="model.acc.properties.storage">
      <td>storage</td>
      <td>{{model.acc.properties.storage}}</td>
    </tr>
    <tr ng-if="model.acc.properties.released">
      <td>released</td>
      <td>{{model.acc.properties.released}}</td>
    </tr>
    <tr ng-if="model.acc.properties.accename">
      <td>accename</td>
      <td>{{model.acc.properties.accename}}</td>
    </tr>
  </table>

  <a name="evaluation-detail"></a>
  
  <table class="table table-striped section-spc"
	 ng-if="model.evaluation.length">
    <caption>Trait/Evaluation Data for
      <span>
	{{model.evaluation[0].accession_prefix}}
	{{model.evaluation[0].accession_number}}
	{{model.evaluation[0].accession_surfix}}
      </span> ;
      <span>
	{{model.evaluation[0].taxon}}
      </span>
    </caption>
    <tr ng-repeat="rec in model.evaluation">
      <td>
	<span class="badge">
	  {{rec.descriptor_name}}
	  <span ng-if="rec.observation_value">
	    obs. value: {{rec.observation_value}} ;
	  </span>
	  <span ng-if="rec.original_value">
	    original_value: {{rec.original_value}} ;
	  </span>
          <span ng-if="rec.low">
	    low: {{rec.low}} ;
	  </span>
	  <span ng-if="rec.frequency">
	    freq: {{rec.frequency}} ;
	  </span>
	  <span ng-if="rec.hign">
	    hign: {{rec.hign}} ;
	  </span>
	  <span ng-if="rec.mean">
	    mean: {{rec.mean}} ;
	  </span>
	  <span ng-if="rec.ssize">
	    ssize: {{rec.ssize}} ;
	  </span>
	  <span ng-if="rec.sdev">
	    sdev: {{rec.sdev}} ;
	  </span>
	</span>
	<span ng-if="rec.method_name">
	  method: {{rec.method_name}} ;
	</span>
	<span ng-if="rec.plant_name">
	  plant name: {{rec.plant_name}} ;
	</span>
	<span ng-if="rec.origin">
	  origin: {{rec.origin}} ;
	</span>
	<span ng-if="rec.inventory_number">
	  inventory:
	  {{rec.inventory_prefix}}
	  {{rec.inventory_number}}
	  {{rec.inventory_suffix}}
	</span>
	<span ng-if="rec.accession_comment">
	  comment: {{rec.accession_comment}}
	</span>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary" type="button"
	  ng-if="model.acc"
	  ng-click="onOK()">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    OK
  </button>
</div>
