<div style="margin-top: 0.5rem;">
  
  <button class="btn btn-sm btn-default"
	  ng-click="model.searchOptions = ! model.searchOptions ; model.autofocusField = 'taxonFilter';">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  
    Search
  </button>

  <span ng-if="model.taxonFilter" class="badge">
    {{ model.taxonFilter }}
    <button class="btn btn-xs btn-default"
	    ng-click="model.taxonFilter = ''; onTaxonFilter(model.taxonFilter)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  <span ng-if="model.taxonFilter && model.limitToGeocoded" class="badge">
    limit search to geocoded accessions
    <button class="btn btn-xs btn-default"
	    ng-click="model.limitToGeocoded = false; onLimitToGeocoded(model.limitToGeocoded);">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  <span ng-if="model.taxonFilter && model.limitToMapExtent" class="badge">
    limt search to current map extent
    <button class="btn btn-xs btn-default"
	    ng-click="model.limitToMapExtent = false; onLimitToMapExtent(model.limitToMapExtent)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  <span ng-if="model.maxRecs" class="badge">
    max results: {{ model.maxRecs | number }}
    <button class="btn btn-xs btn-default"
	    ng-click="onRemoveMaxResults()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>


</div>

<div class="panel panel-info"
     style="margin-top: 0.5rem;"
     ng-if="model.searchOptions">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-search"></span>
    Search parameters:
  </div>
  <div class="panel-body">
    <div class="alert alert-warning" ng-if="model.alert">
      {{model.alert}}
    </div>
    <div class="row">
      <div class="col-md-5">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    Taxon Search
	  </div>
	  <div class="panel-body">
	    <form class="form-inline"
		  ng-submit="onTaxonFilter(model.taxonFilter)">
	      <input id="taxon-filter"
		     type="text"
		     ng-attr-auto-focus="! model.autofocusField || model.autofocusField === 'taxonFilter'"
		     size="30"
		     maxlength="256"
		     ng-model="model.taxonFilter">
	      </input>
	      <button type="submit" class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-search"
		      aria-hidden="true"></span>
		Go
	      </button>
	      <button ng-click="model.taxonFilter = ''; onTaxonFilter(model.taxonFilter)"
		      class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-remove"
		      aria-hidden="true"></span>
		Clear
	      </button>
	      <div class="checkbox">
		<label>
		  <input type="checkbox"
			 ng-model="model.limitToGeocoded"
			 ng-change="onLimitToGeocoded(model.limitToGeocoded)">
		  </input>
		  Limit to geocoded accessions
		</label>
		<label>
		  <input type="checkbox"
			 ng-model="model.limitToMapExtent"
			 ng-change="onLimitToMapExtent(model.limitToMapExtent)">
		  </input>
		  Limit to current map extent
		</label>
	      </div>
	    </form>
	  </div>
	</div>
      </div>
      
      <div class="col-md-3">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    Limit Search Results To:
	  </div>
	  <div class="panel-body">
	    <form class="form-inline"
		  ng-submit="onSetMaxRecs(model.maxRecs)">
	      <label>
		Limit # to:
	      </label>
	      <input type="text"
		     ng-model="model.maxRecs"
		     ng-attr-auto-focus="! model.autofocusField || model.autofocusField === 'maxRecs'"
		     size="4"
		     maxlength="4">
	      </input>
	      <button type="submit" class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-search"
		      aria-hidden="true"></span>
		Go
	      </button>
	    </form>
	    <p>Hint: increase for wider search area;
	      decrease for speed.</p>
	  </div>
	</div>
	
      </div>
    </div>
    <button class="btn btn-success"
	    ng-click="model.searchOptions = false">
      OK
    </button>    
  </div>
</div>

