<span ng-if="model.geoJson.updating">
  <img src="/static/grin_app/images/ajax-loader.gif"></img>
  Loading...
</span>

<div class="alert alert-warning"
     style="margin-top: 0.5rem"
     ng-if="! model.geoJson.updating && ! model.geoJson.data.length">

  <span ng-if="model.geoJson.taxonQuery && model.geoJson.limitToMapExtent">
    <strong>{{model.geoJson.taxonQuery}}</strong> :
    No results found for this query, within the current map extent.
  </span>
  <span ng-if="model.geoJson.taxonQuery && ! model.geoJson.limitToMapExtent">
    <strong>{{model.geoJson.taxonQuery}}</strong> : 
    No results found for this query.
  </span>
  <span ng-if="! model.geoJson.taxonQuery">
    No results found within the current map extent. Try zooming
    out, or view a different region.
  </span>
</div>

<div class="alert alert-warning" style="margin-top: 0.5rem"
     ng-if="! model.geoJson.updating && model.geoJson.data.length === model.geoJson.maxRecs">
  <strong>Results: {{model.geoJson.data.length}}</strong>
  Your max # of results are listed below, but may appear to be
  clustered at the center of the map. Try zooming the map in
  or add other search parameters, or increase the max results.
</div>

<div style="margin-top: 0.5rem"
     ng-if="! model.geoJson.updating && model.geoJson.data.length !== model.geoJson.maxRecs">
  <strong>Results:
    {{model.geoJson.data.length}}
  </strong>
</div>

<div style="margin-top: 0.5rem"
     ng-if="! model.geoJson.updating && model.geoJson.data.length">
  <table class="table table-striped" id="results-list">
    <tr>
      <th id="tour-accession-btn">accession</th>
      <th>taxon</th>
      <th class="nowrap">crop name</th>
      <th>orig country</th>
      <th id="tour-coords-btn">
	<!-- column having a map marker icon, if geocoded -->
      </th>
      <th>collection site</th>
      <th>acq date</th>
      <th>elev&nbsp;(m.)</th>
    </tr>
    <tr ng-repeat="rec in model.geoJson.data"
	ng-class="{'hilite-row' : model.hiliteAccNumb == rec.properties.accenumb}">
      <td class="nowrap">
	<button class="btn btn-xs btn-default accdetail-button"
		ng-click="onAccessionDetail(rec.properties.accenumb)">
	  {{rec.properties.accenumb}}
	</button>
      </td>
      <td class="nowrap">
	<span class="badge"
	      style="background-color: {{ model.geoJson.colorFeature(rec)}};">
	  &nbsp;
	</span>
	<span ng-bind-html="rec.properties.taxon | highlight: model.searchHilite">
	</span>
      </td>
      <td class="nowrap"
	  ng-bind-html="rec.properties.cropname"></td>
      <td class="nowrap">{{rec.properties.origcty}}</td>
      <td>
	<button class="btn btn-xs btn-default acc-select-button"
		ng-click="onGoInternalMap(rec)">
	  <span ng-if="rec.geometry.coordinates"
		class="glyphicon glyphicon-map-marker"
		aria-hidden="true"></span>
	</button>
      </td>
      <td ng-bind-html="rec.properties.collsite">
      </td>
      <td class="nowrap">{{rec.properties.acqdate}}</td>
      <td class="nowrap">
	<span ng-if="rec.properties.elevation">
	  {{rec.properties.elevation | number }}
	</span>
      </td>
    </tr>
  </table>
</div>

<script type="text/ng-template"
	id="accession-modal-content.html">
  <div class="modal-header">
    <h3 class="modal-title">
      Accession: {{acc.properties.accenumb}}
    </h3>
  </div>
  <div class="modal-body">

    <button class="btn btn-primary" type="button" ng-click="onOK()">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      OK
    </button>
    
    <button ng-if="acc.geometry.coordinates"
	    class="btn btn-success" type="button" ng-click="onGoMap()">
      <span class="glyphicon glyphicon-map-marker"
	    aria-hidden="true"></span>
      View {{acc.properties.accenumb}} on Map
    </button>
    
    <button class="btn btn-default" type="button" ng-click="onGoLISGRIN()">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>      
      Search LIS GRIN Connect for {{acc.properties.accenumb}}
    </button>
     
    <button ng-if="acc.properties.genus && acc.properties.species"
	    ng-click="onGoLISTaxon()"	    
	    class="btn btn-default" type="button">
      <span class="glyphicon glyphicon-leaf"
	    aria-hidden="true"></span>
      View {{acc.properties.genus}} {{acc.properties.species}} at LIS
    </button>
    
    <table class="table table-striped" style="margin-top: 0.5rem;">
      <tr ng-if="acc.properties.taxon">
	<td>taxon</td>
	<td ng-bind-html="acc.properties.taxon"></td>
      </tr>
      <tr ng-if="acc.properties.subtaxa">
	<td>subtaxa</td>
	<td ng-bind-html="acc.properties.subtaxa"></td>
      </tr>
      <tr ng-if="acc.properties.genus">
	<td>genus</td>
	<td ng-bind-html="acc.properties.genus"></td>
      </tr>
      <tr ng-if="acc.properties.species">
	<td>species</td>
	<td ng-bind-html="acc.properties.species"></td>
      </tr>
      <tr ng-if="acc.properties.cropname">
	<td>cropname</td>
	<td ng-bind-html="acc.properties.cropname"></td>
      </tr>
      <tr ng-if="acc.properties.acqdate">
	<td>acqdate</td>
	<td>{{acc.properties.acqdate}}</td>
      </tr>
      <tr ng-if="acc.properties.colldate">
	<td>colldate</td>
	<td>{{acc.properties.colldate}}</td>
      </tr>
       <tr ng-if="acc.properties.origcty">
	<td>origcty</td>
	<td>{{acc.properties.origcty}}</td>
      </tr>
      <tr ng-if="acc.properties.collsite">
	<td>collsite</td>
	<td ng-bind-html="acc.properties.collsite"></td>
      </tr>
      <tr ng-if="acc.geometry.coordinates">
	<td>geographic coordinates</td>
	<td>
	  latitude: {{acc.geometry.coordinates[1]}}
	  longitude: {{acc.geometry.coordinates[0]}}
	</td>
      </tr>
       <tr ng-if="acc.properties.remarks">
	<td>remarks</td>
	<td ng-bind-html="acc.properties.remarks"></td>
      </tr>      
      <tr ng-if="acc.properties.history">
	<td>history</td>
	<td ng-bind-html="acc.properties.history"></td>
      </tr>      
      <tr ng-if="acc.properties.elevation">
	<td>elevation (m.)</td>
	<td>{{acc.properties.elevation}}</td>
      </tr>
      <tr ng-if="acc.properties.collnumb">
	<td>collnumb</td>
	<td>{{acc.properties.collnumb}}</td>
      </tr>
      <tr ng-if="acc.properties.collcode">
	<td>collcode</td>
	<td>{{acc.properties.collcode}}</td>
      </tr>
      <tr ng-if="acc.properties.spauthor">
	<td>spauthor</td>
	<td>{{acc.properties.spauthor}}</td>
      </tr>
      <tr ng-if="acc.properties.subtauthor">
	<td>subtauthor</td>
	<td>{{acc.properties.subtauthor}}</td>
      </tr>
      <tr ng-if="acc.properties.avail">
	<td>avail</td>
	<td>{{acc.properties.avail}}</td>
      </tr>
      <tr ng-if="acc.properties.instcode">
	<td>instcode</td>
	<td>{{acc.properties.instcode}}</td>
      </tr>
      <tr ng-if="acc.properties.bredcode">
	<td>bredcode</td>
	<td>{{acc.properties.bredcode}}</td>
      </tr>
      <tr ng-if="acc.properties.ancest">
	<td>ancest</td>
	<td>{{acc.properties.ancest}}</td>
      </tr>
      <tr ng-if="acc.properties.donorcode">
	<td>donorcode</td>
	<td>{{acc.properties.donorcode}}</td>
      </tr>
      <tr ng-if="acc.properties.donornumb">
	<td>donornumb</td>
	<td>{{acc.properties.donornumb}}</td>
      </tr>
      <tr ng-if="acc.properties.duplsite">
	<td>duplsite</td>
	<td>{{acc.properties.duplsite}}</td>
      </tr>      
      <tr ng-if="acc.properties.storage">
	<td>storage</td>
	<td>{{acc.properties.storage}}</td>
      </tr>
      <tr ng-if="acc.properties.released">
	<td>released</td>
	<td>{{acc.properties.released}}</td>
      </tr>
       <tr ng-if="acc.properties.accename">
	<td>accename</td>
	<td>{{acc.properties.accename}}</td>
      </tr>
    </table>
  </div>
</script>
