<div style="margin-top: 0.5rem;">
  
  <button id="tour-start"
	  class="btn btn-sm btn-default"
	  ng-click="model.searchOptions = ! model.searchOptions ; model.autofocusField = 'taxonFilter';">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  
    Search
  </button>

  <span id="current-search-filters">
  <!-- make a removable badge for each current search filter  -->
  <span ng-if="model.$location.search().taxonQuery" class="badge">
    {{ model.$location.search().taxonQuery }}
    <button class="btn btn-xs btn-default"
	    ng-click="model.taxonQuery = ''; onTaxonQuery(model.taxonQuery)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  
  <span ng-if="model.$location.search().limitToMapExtent === true"
	class="badge">
    limit search to current map extent
    <button class="btn btn-xs btn-default"
	    ng-click="model.limitToMapExtent = false ; onLimitToMapExtent(model.limitToMapExtent)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  
  <span ng-if="model.$location.search().maxRecs" class="badge">
    max results: {{ model.$location.search().maxRecs | number }}
    <button class="btn btn-xs btn-default"
	    ng-click="onRemoveMaxResults()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  
  <span ng-if="model.$location.search().country" class="badge">
    country: {{ model.$location.search().country }}
    <button class="btn btn-xs btn-default"
	    ng-click="model.country = null; onSetCountry(model.country);">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  </span>
</div>

<div class="panel panel-info"
     style="margin-top: 0.5rem;"
     ng-if="model.searchOptions">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-search"></span>
    Search parameters:
   
  </div>
  <div class="panel-body">
    <div class="alert alert-success" ng-if="model.alert">
      {{model.alert}}
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    Taxon Search
	  </div>
	  <div class="panel-body">
	    <form class="form-inline"
		  ng-submit="onTaxonQuery(model.taxonQuery)">
	      <input id="taxon-filter"
		     type="text"
		     ng-attr-auto-focus="! model.autofocusField || model.autofocusField === 'taxonFilter'"
		     size="20"
		     maxlength="256"
		     ng-model="model.taxonQuery">
	      </input>
	      <button type="submit" class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-search"
		      aria-hidden="true"></span>
		Go
	      </button>
	      <button ng-click="model.taxonQuery = ''; onTaxonQuery(model.taxonQuery)"
		      class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-remove"
		      aria-hidden="true"></span>
		Clear
	      </button>
	     
	    </form>
	  </div>
	</div>
      </div>
      <div class="col-md-2">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    Search Extent
	  </div>
	  <div class="panel-body">	
	    <div class="checkbox">
	      <label>
		<input type="checkbox"
		       ng-model="model.limitToMapExtent"
		       ng-change="onLimitToMapExtent(model.limitToMapExtent)">
		</input>
		Limit to current map extent
	      </label>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-md-3">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    Country Search
	  </div>
	  <div class="panel-body">
	    <form class="form-inline"
		  ng-submit="onSetCountry(model.country)">
	      <label>
		Limit to accessions in:
	      </label>
	      <select class="form-control"
		      ng-model="model.country">
		<option value="">Country</option>
		  
		<option ng-repeat="country in model.countries"
			value="{{country}}">
		  {{country}}
		</option>
	      </select>
	      <button type="submit" class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-search"
		      aria-hidden="true"></span>
		Go
	      </button>
	    </form>
	  </div>
	</div>
      </div>
       
      <div class="col-md-3">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    Limit Search Results #:
	  </div>
	  <div class="panel-body">
	    <form class="form-inline"
		  ng-submit="onSetMaxRecs(model.maxRecs)">
	      <label>
		Limit # to:
	      </label>
	      <input type="text"
		     ng-model="model.maxRecs"
		     ng-attr-auto-focus="! model.autofocusField || model.autofocusField === 'maxRecs'"
		     size="5">
	      </input>
	      <button type="submit" class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-search"
		      aria-hidden="true"></span>
		Go
	      </button>
	    </form>
	    <p>Hint: increase for wider search area;
	      decrease for speed.</p>
	  </div>
	</div>
      </div>
     
    </div>

    <button class="btn btn-success"
	    ng-click="model.searchOptions = false; model.alert = ''">
      OK
    </button>  
  </div>
  
</div>

