<div id="tour-start" class="section-spc"></div>

<button id="search-btn"
        type="button"
        class="btn btn-sm btn-default"
        ng-if="! model.searchOptions"
        ng-click="model.searchOptions = ! model.searchOptions ; model.autofocusField = 'taxonFilter';">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    Search
</button>

<span id="current-search-filters">

    <!-- display a badge for each current search filter, with button for
      removal action. -->

	<span ng-repeat="(setName, data) in model.userData"
          class="badge">
        {{setName}}
        <button type="button"
                class="btn btn-xs btn-default"
                ng-click="model.geoJsonService.onUserData()">
            <span class="glyphicon glyphicon-remove"
                  aria-hidden="true"></span>
        </button>
	</span>

   <span ng-if="accessionIdsDescr()" class="badge">
    {{ accessionIdsDescr() }}
     <button type="button"
             class="btn btn-xs btn-default"
             ng-click="model.accessionIds = ''; onOK();">
         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
     </button>
  </span>
  
  <span ng-if="model.geoJsonService.params.taxonQuery" class="badge">
    {{ model.geoJsonService.params.taxonQuery }}
    <button type="button" class="btn btn-xs btn-default"
            ng-click="model.taxonQuery = ''; model.traitOverlay = ''; onOK();">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  
  <span ng-if="model.geoJsonService.params.traitOverlay" class="badge">
    {{ model.geoJsonService.params.traitOverlay }}
    <button type="button" class="btn btn-xs btn-default"
            ng-click="model.traitOverlay = ''; model.traitExcludeUnchar = false; onOK();">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>

  <span ng-if="model.geoJsonService.params.limitToMapExtent"
        class="badge">
    limit search to current map extent
    <button type="button"
            class="btn btn-xs btn-default"
            ng-click="model.limitToMapExtent = false ; onOK(); ">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  
  <span ng-if="model.geoJsonService.params.maxRecs" class="badge">
    max results: {{ model.geoJsonService.params.maxRecs | number }}
    <button class="btn btn-xs btn-default"
            ng-click="onRemoveMaxResults()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
  
  <span ng-if="model.geoJsonService.params.country" class="badge">
    country: {{ model.geoJsonService.params.country }}
    <button class="btn btn-xs btn-default"
            ng-click="model.country = null; onOK();">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </span>
</span>
</div>

<div id="search-options"
     class="panel panel-info section-spc"
     ng-if="model.searchOptions">
    <div class="panel-heading">

        <button type="button" class="close"
                ng-click="model.searchOptions = false">
            <span aria-hidden="true">&times;</span>
        </button>

        <span class="glyphicon glyphicon-search"></span>
        Search parameters:
    </div>
    <div class="panel-body">

        <div class="alert alert-success" ng-if="model.alert">
            {{model.alert}}
        </div>

        <table class="table section-spc">
            <tr>
                <td>
	  <span ng-if="model.taxonQuery"
            class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>

                    Search Taxon:
                    <button type="button"
                            ng-click="onExampleTaxonQuery()"
                            class="btn btn-xs btn-default">
	    <span class="glyphicon glyphicon-question-sign"
              aria-hidden="true"></span>
                        Example
                    </button>
                </td>
                <td>
                    <form class="form-inline" ng-submit="onOK()">
                        <input id="taxon-filter"
                               type="text"
                               class="form-control"
                               ng-attr-auto-focus="! model.autofocusField || model.autofocusField === 'taxonFilter'"
                               size="40"
                               maxlength="256"
                               ng-change="onTaxonQuery(model.taxonQuery)"
                               ng-model="model.taxonQuery">
                        </input>
                        <button type="submit" class="btn btn-sm btn-default">
	      <span class="glyphicon glyphicon-search"
                aria-hidden="true"></span>
                            Go
                        </button>
                        <button type="button"
                                ng-click="model.taxonQuery = null; model.traitOverlay = null;"
                                class="btn btn-sm btn-default">
	      <span class="glyphicon glyphicon-remove"
                aria-hidden="true"></span>
                            Clear
                        </button>
                    </form>
                </td>
            </tr>

            <tr>
                <td class="nowrap">
	  <span ng-if="model.traitOverlay"
            class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Overlay Characterization and Evaluation
                    <button type="button"
                            ng-click="onTraitOverlayExample()"
                            class="btn btn-xs btn-default">
	    <span class="glyphicon glyphicon-question-sign"
              aria-hidden="true"></span>
                        Example
                    </button>
                </td>
                <td>
                    <form class="form-inline" ng-submit="onOK()">
                        <div class="form-group">
                            <select class="form-control"
                                    ng-disabled="! model.taxonQuery"
                                    ng-model="model.traitOverlay">
                                <option value="" ng-if="model.taxonQuery">
                                    Select trait for {{model.taxonQuery}}
                                    ({{model.traitDescriptors.length | number
                                    }})
                                </option>
                                <option value="" ng-if="! model.taxonQuery">
                                    No taxon selected
                                </option>
                                <option ng-repeat="name in model.traitDescriptors"
                                        value="{{name}}">
                                    {{name}}
                                </option>
                            </select>
                            <button type="submit"
                                    class="btn btn-sm btn-default"
                                    ng-disabled="! model.taxonQuery">
                                <span class="glyphicon glyphicon-search"
                                      aria-hidden="true"></span>
                                Go
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-click="onTraitsRefresh()">
                                <span class="glyphicon glyphicon-refresh"
                                      aria-hidden="true"></span>
                                Refresh
                            </button>
                            <button type="button"
                                    ng-click="model.traitOverlay = null; model.traitExcludeUnchar = false;"
                                    class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-remove"
              aria-hidden="true"></span>
                                Clear
                            </button>
                            <button type="button"
                                    ng-disabled="! model.traitOverlay"
                                    ng-click="onTraitOverlayOptions()"
                                    class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-picture"
              aria-hidden="true"></span>
                                Display Options
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
	  <span ng-if="model.accessionIds"
            class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Search Accession IDs:
                    <button type="button"
                            ng-click="onExampleAccessions()"
                            class="btn btn-xs btn-default">
	    <span class="glyphicon glyphicon-question-sign"
              aria-hidden="true"></span>
                        Example
                    </button>
                </td>
                <td>
                    <form class="form-inline"
                          ng-submit="onOK()">
                        <input id="accession-ids-filter"
                               type="text"
                               class="form-control"
                               ng-attr-auto-focus="! model.autofocusField || model.autofocusField === 'accessionIdsFilter'"
                               size="40"
                               ng-model="model.accessionIds">
                        </input>
                        <button type="submit" class="btn btn-sm btn-default">
	      <span class="glyphicon glyphicon-search"
                aria-hidden="true"></span>
                            Go
                        </button>
                        <button type="button"
                                ng-click="model.accessionIds = null;"
                                class="btn btn-sm btn-default">
	      <span class="glyphicon glyphicon-remove"
                aria-hidden="true"></span>
                            Clear
                        </button>
                        <button type="button"
                                ng-disabled="! model.accessionIds"
                                ng-click="onAccessionIdOptions()"
                                class="btn btn-sm btn-default">
		<span class="glyphicon glyphicon-picture"
              aria-hidden="true"></span>
                            Display Options
                        </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
	  <span ng-if="model.country"
            class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Search Country:
                </td>
                <td>
                    <form class="form-inline"
                          ng-submit="onOK()">
                        <label>
                            Limit to accessions in:
                        </label>
                        <select class="form-control"
                                ng-model="model.country"
                                ng-change="onCountry(model.country)">
                            <option value="">Country</option>

                            <option ng-repeat="country in model.countries"
                                    value="{{country}}">
                                {{country}}
                            </option>
                        </select>
                        <button type="submit" class="btn btn-sm btn-default">
	      <span class="glyphicon glyphicon-search"
                aria-hidden="true"></span>
                            Go
                        </button>
                        <button type="button"
                                ng-click="model.country = null;"
                                class="btn btn-sm btn-default">
	      <span class="glyphicon glyphicon-remove"
                aria-hidden="true"></span>
                            Clear
                        </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
	  <span ng-if="model.maxRecs"
            class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Limit Search Results #:
                </td>
                <td>
                    <form class="form-inline"
                          ng-submit="onOK()">
                        <label>
                            Limit # to:
                        </label>
                        <input type="text"
                               class="form-control"
                               ng-model="model.maxRecs"
                               ng-attr-auto-focus="! model.autofocusField || model.autofocusField === 'maxRecs'"
                               size="5">
                        </input>
                        <button type="submit" class="btn btn-sm btn-default">
	      <span class="glyphicon glyphicon-search"
                aria-hidden="true"></span>
                            Go
                        </button>
                        Hint: increase for wider search area; decrease for
                        speed.
                    </form>
                </td>
            </tr>
            <tr>
                <td>
	  <span ng-if="model.limitToMapExtent"
            class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Search Extent:
                </td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-model="model.limitToMapExtent">
                            </input>
                            Limit to current map extent
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button"
                            class="btn btn-success" ng-click="onOK()">
	    <span class="glyphicon glyphicon-ok"
              aria-hidden="true"></span>

                        OK
                    </button>
                    <button type="button"
                            id="search-cancel"
                            class="btn btn-default"
                            ng-click="model.searchOptions = false">
	    <span class="glyphicon glyphicon-remove"
              aria-hidden="true"></span>
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
