<div class="modal-header">
    <button type="button" class="close"
            ng-click="onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">
        <span class="glyphicon glyphicon-level-up"></span>
        Your Data in {{model.BRANDING.site_heading}}
    </h3>
</div>
<div class="modal-body">
    <p class="lead">
        Add new accessions, or override existing data attributes.
    </p>

    <!-- note: the errors and warnings divs are duplicated from errors.html -->
    <div class="alert alert-danger alert-spc"
         ng-repeat="error in errors">
        <button type="button" class="close"
                data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error:</strong> {{error}}
    </div>
    <div class="alert alert-warning alert-spc"
         ng-repeat="warning in warnings">
        <button type="button" class="close"
                data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Please Note:</strong> {{warning}}
    </div>


    <div class="alert alert-info">
        <button type="button" class="close"
                data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        You can add your CSV or TSV (delimited text) data to the
        {{model.BRANDING.site_subheading}} in a couple of ways. The first is via
        the html5 local file reader api. The second is via a web download direct
        to your browser.
        <strong>
            In either case, your data is not shared with the
            {{model.BRANDING.site_heading}} |
            {{model.BRANDING.site_subheading}} server.
        </strong>
        <br/>
        <button type="button" class="btn btn-xs btn-default"
                data-dismiss="alert" aria-label="Close">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Let's do this
        </button>
    </div>

    <form>
        <div class="form-group form-inline">
            <label for="user-file-method">Provide a file via:</label>
            <div class="radio" id="user-file-method">
                <label>
                    <input type="radio"
                           name="fileMethod"
                           value="local"
                           ng-model="model.fileMethod"> Local file (filereader)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"
                           name="fileMethod"
                           value="url"
                           ng-model="model.fileMethod"> Web file (HTTP)
                </label>
            </div>
            <p class="help-block" ng-if="! model.fileMethod">
                Select a file source you wish to load.
            </p>
        </div>
        <div class="form-group"
             ng-if="model.fileMethod == 'local'">
            <label for="user-data-file">Local file:</label>
            <input type="file" id="user-data-file">

            <p class="help-block" ng-if="! model.file">
                Select a local file, then click Load File.
            </p>
            <button type="button" class="btn btn-default"
                    ng-click="onLoadFile()">
                <span class="glyphicon glyphicon-level-up"></span>
                Load file
            </button>
        </div>

        <div class="form-group"
             ng-if="model.fileMethod == 'url'">
            <label for="url-data-url">Web file (HTTP):</label>
            <input id="url-data-url"
                   class="form-control"
                   placeholder="enter a url, e.g. http://you.com/your-file.csv"
                   ng-model="model.fileURL">
            <p class="help-block" ng-if="!model.fileURL">
                Enter the HTTP URL of your .csv or .tsv data source, then
                click Load File. (Please note: cross-origin requests require
                Access-Control-Allow-Origin header)
            </p>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-level-up"></span>
                Load file
            </button>
        </div>
    </form>

    <div ng-if="model.results.data.length">
        <h4>Parsing Results:</h4>
        <p class="help-block">
            Please review the results below, and then click OK. Otherwise
            review the advanced settings and try again.
        </p>
        <table class="table table-striped">
            <tr>
                <th>accession_id</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>descriptor</th>
                <th>observation_value</th>
                <th>is_nominal</th>
            </tr>
            <tr ng-repeat="rec in model.results.data">
                <td class="parsed-csv">css{{rec.accession_id}}</td>
                <td class="parsed-csv">{{rec.latitude}}</td>
                <td class="parsed-csv">{{rec.longitude}}</td>
                <td class="parsed-csv">{{rec.descriptor}}</td>
                <td class="parsed-csv">{{rec.observation_value}}</td>
                <td class="parsed-csv">{{rec.is_nominal}}</td>
            </tr>
        </table>
    </div>

    <button class="btn btn-success"
            type="button"
            ng-disabled="(! model.results.data.length) || model.results.errors.length"
            ng-click="onOK()">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        OK
    </button>
    <button class="btn btn-default" type="button"
            ng-click="onCancel()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Cancel
    </button>
</div>
