<div class="modal-header">
  <button type="button" class="close"
	  ng-click="onOK()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">
    <span class="glyphicon glyphicon-level-up"></span>
    Your Data
  </h3>
</div>
<div class="modal-body">
  <p>
    todo...
  </p>
  <button class="btn btn-success" type="button"
	  ng-click="onOK()">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    OK
  </button>
  <button class="btn btn-default"
	  ng-click="onCancel()">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    Cancel
  </button>
</div>
